@import "./reset.scss";
@import "./fonts.scss";

/* Цвета */
$primaryColor: #5c62ec;
$hoverColor: #3c40ae;
$accentColor: #85bfd1;
$iconsColor: #a0a0a1;
$textColor: #fff;
$fillColor: #1c1e22;
$borderColor: #26292d;
$bgColor: #171718;

/* Базовые настройки */
*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
}
html {
    font-family: "DM Sans", sans-serif;
    font-size: 10px;
    color: $textColor;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $bgColor;
}
.container {
    max-width: 1155px;
    margin: 0 auto;
}
@media screen and (max-width: 1185px) {
    .container {
        padding: 0 15px;
    }
}
.main {
    padding-top: 70px;
}
@media screen and (max-width: 768px) {
    .main {
        padding-top: 50px;
    }
}

/* Шапка */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    &__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 7rem;
        align-items: center;
    }

    &__logo {
        position: relative;
        color: $textColor;
        font-weight: 600;
        font-size: 2.4rem;
        text-decoration: none;
        z-index: 5;
        transition: 0.2s;

        &:hover {
            color: $hoverColor;
        }
    }

    &__list {
        position: relative;
        display: flex;
        z-index: 5;
    }

    &__item {
        list-style-type: none;
        margin: 0 0 0 3rem;
    }

    &__link {
        position: relative;
        color: $textColor;
        font-weight: 500;
        font-size: 1.6rem;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.2s;

        &::after {
            position: absolute;
            display: block;
            content: "";
            width: 0;
            height: 0.3rem;
            left: 50%;
            bottom: -1rem;
            background-color: transparent;
            transform: translate(-50%);
            transition: 0.2s;
        }

        &:hover::after {
            width: 100%;
            background-color: $hoverColor;
        }
    }

    &__burger {
        position: relative;
        display: none;
        content: "";
        background-color: $textColor;
        width: 2.5rem;
        height: 0.2rem;
        left: 0;
        transition: 0.2s;

        &::before,
        &::after {
            position: absolute;
            content: "";
            background-color: $textColor;
            width: 100%;
            height: 0.2rem;
        }

        &::before {
            top: 0.7rem;
            right: 0;
            width: 60%;
            transition: 0.2s;
        }

        &::after {
            bottom: 0.7rem;
            transition: 0.2s;
        }

        &--active {
            background-color: transparent;

            &::before {
                top: 0;
                width: 100%;
                transform: rotate(45deg);
            }

            &::after {
                bottom: 0;
                transform: rotate(-45deg);
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .header {
        &__body {
            height: 5rem;
        }

        &__burger {
            display: block;
            z-index: 5;
        }

        &__menu {
            position: fixed;
            display: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $bgColor;
            padding-top: 6rem;

            &--active {
                display: block;
            }
        }

        &__list {
            flex-direction: column;
        }

        &__item {
            margin: 20px;
        }
    }
}
